@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before {
    @apply m-0 p-0 box-border;
  }

  html {
    font-family: "Kalam", sans-serif;
  }

  body {
    @apply text-light;
  }
}

@layer components {
  .object {
    @apply rounded-md w-full h-full;
  }

  .cell {
    @apply rounded-md aspect-square bg-light;
  }

  .cell:not(:has(.object)) {
    @apply border border-dark;
  }

  .car {
    @apply bg-cyan-700 px-1;
  }

  .goal {
    @apply bg-emerald-700 px-1;
  }

  .game {
    @apply relative h-screen w-screen flex items-center justify-center;
  }

  .man {
    @apply bg-red-600 py-1;
  }

  .tooltip {
    @apply absolute bottom-[50%] left-[70%] invisible bg-light text-black py-2 px-4 rounded-md flex flex-col gap-1;
  }

  .info {
    @apply w-8;
  }

  .info:hover > .tooltip {
    @apply visible;
  }

  .crack {
    @apply border border-dark;
  }

  .game__grid {
    @apply gap-[.1rem] sm:gap-2;
    display: grid;
    width: 98%;
    place-content: center;
    grid-template-columns: repeat(10, minmax(1rem, 3.6rem));
  }

  .layout {
    background-image: url(/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    z-index: -1;
  }

  .logo {
    @apply max-w-[5rem] max-h-[5rem] sm:max-w-[6rem] sm:max-h-[6rem];
  }
}
